<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>xEncode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>xFormat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>xRadix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>xSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>xTextHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87A709AE1D151C10004F6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D8F0931D14CFF9009DA1EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87DDF2C11D14D51700C4EB11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87DDF2D81D14D56900C4EB11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F195861D16B1F800E2F8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F1959F1D16BABD00E2F8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F33BE91D15A7F500FD5772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
